@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant light (&:where(.light, .light *), @media (prefers-color-scheme: light));
@custom-variant dark (&:where(.dark, .dark *), @media (prefers-color-scheme: dark));

@theme inline {
  --font-sans: Geist, sans-serif;
  --font-mono: Geist Mono, monospace;
  --font-serif: Noto Serif Georgian, ui-serif, serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);

  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

:root {
  --radius: 0.5rem;
  --spacing: 0.25rem;
  --letter-spacing: 0em;
  --tracking-normal: 0em;

  @variant light {
    --background: oklch(0.9851 0 0);
    --foreground: oklch(0 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2046 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.5144 0.1605 267.44);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.94 0 0);
    --secondary-foreground: oklch(0.25 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.44 0 0);
    --accent: oklch(0.9214 0.0248 257.65);
    --accent-foreground: oklch(0.2571 0.1161 272.24);
    --destructive: oklch(0.58 0.22 27);
    --border: oklch(0.92 0 0);
    --input: oklch(0.94 0 0);
    --ring: oklch(0.5144 0.1605 267.44);

    --chart-1: oklch(0.9214 0.0248 257.65);
    --chart-2: oklch(0.7597 0.0804 267.01);
    --chart-3: oklch(0.6083 0.1247 272.72);
    --chart-4: oklch(0.5144 0.1605 267.44);
    --chart-5: oklch(0.2571 0.1161 272.24);

    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.2046 0 0);
    --sidebar-primary: oklch(0.5144 0.1605 267.44);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9214 0.0248 257.65);
    --sidebar-accent-foreground: oklch(0.2571 0.1161 272.24);
    --sidebar-border: oklch(0.92 0 0);
    --sidebar-ring: oklch(0.5144 0.1605 267.44);

    --shadow-color: oklch(0.2571 0.1161 272.24);
    --shadow-opacity: 0.15;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0.25px;
    --shadow-offset-y: 1px;
    --shadow-2xs: 0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.07);
    --shadow-xs: 0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.07);
    --shadow-sm:
      0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
      0.25px 1px 2px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
    --shadow:
      0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
      0.25px 1px 2px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
    --shadow-md:
      0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
      0.25px 2px 4px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
    --shadow-lg:
      0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
      0.25px 4px 6px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
    --shadow-xl:
      0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.15),
      0.25px 8px 10px -1px hsl(236.5829 64.225% 21.4383% / 0.15);
    --shadow-2xl: 0.25px 1px 3px 0px hsl(236.5829 64.225% 21.4383% / 0.38);
  }

  @variant dark {
    --background: oklch(0 0 0);
    --foreground: oklch(1 0 0);
    --card: oklch(0.1448 0 0);
    --card-foreground: oklch(0.9461 0 0);
    --popover: oklch(0.1448 0 0);
    --popover-foreground: oklch(1 0 0);
    --primary: oklch(0.4144 0.1605 267.44);
    --primary-foreground: oklch(0.97 0.014 254.604);
    --secondary: oklch(0.25 0 0);
    --secondary-foreground: oklch(0.94 0 0);
    --muted: oklch(0.23 0 0);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.1571 0.1161 272.24);
    --accent-foreground: oklch(0.8214 0.0248 257.65);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(0.26 0 0);
    --input: oklch(0.32 0 0);

    --ring: oklch(0.4144 0.1605 267.44);
    --chart-1: oklch(0.8214 0.0248 257.65);
    --chart-2: oklch(0.6597 0.0804 267.01);
    --chart-3: oklch(0.5083 0.1247 272.72);
    --chart-4: oklch(0.4144 0.1605 267.44);
    --chart-5: oklch(0.1571 0.1161 272.24);

    --sidebar: oklch(0.1448 0 0);
    --sidebar-foreground: oklch(0.9461 0 0);
    --sidebar-primary: oklch(0.4144 0.1605 267.44);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.1571 0.1161 272.24);
    --sidebar-accent-foreground: oklch(0.8214 0.0248 257.65);
    --sidebar-border: oklch(0.26 0 0);
    --sidebar-ring: oklch(0.4144 0.1605 267.44);

    --shadow-color: oklch(0.0571 0.1161 272.24);
    --shadow-opacity: 0.15;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0.25px;
    --shadow-offset-y: 1px;
    --shadow-2xs: 0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.07);
    --shadow-xs: 0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.07);
    --shadow-sm:
      0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
      0.25px 1px 2px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
    --shadow:
      0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
      0.25px 1px 2px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
    --shadow-md:
      0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
      0.25px 2px 4px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
    --shadow-lg:
      0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
      0.25px 4px 6px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
    --shadow-xl:
      0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.15),
      0.25px 8px 10px -1px hsl(258.101 163.1572% 4.8496% / 0.15);
    --shadow-2xl: 0.25px 1px 3px 0px hsl(258.101 163.1572% 4.8496% / 0.38);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
